
body{
   background-color: #F5EBEB;
}
.parent{
   display:flex;
}
h1{
   color:#D864A9;
}
.container{
  
   gap:10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
}
.one{
   display: flex;
   flex-wrap: wrap;
 
   margin: 10px;
   padding:20px;
 
}

.card {
   background-color: #E7AB9A;
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   height: 50vh;
   width: 25vw;;
}

.info{
   display: flex;


}
.info-one, .info-two{
   display: flex;
   flex-direction: column;
 
 
 
}
.info-one{
gap: 10px;
align-items: center;
}
.info-two{
   margin-right: 20px;
   justify-content: flex-start;
   width:70%;
   border: solid 1px #617143;
   border-radius: 10px;
}

.card-image {

   
}

.search{
   display: flex;
   align-items: center;
   gap:10px;
}

.search-text{
   border-radius: 8px;
   padding:5px;
   min-width: 30vw;
}


.btn{
   padding: 5px;
   border-radius: 8px;
   background-color:#D864A9;
   font-weight: bolder;
   width: 5vw;
   color:white;
}
.btn:hover{
      cursor: pointer;
      background-color: #617143;
      
}

.card-btn {
   padding: 5px;
   border-radius: 10px;
   border: solid 1px grey;
   width: 6vw;
   background-color: #617143;
   color:white;
 
}

.card-btn a{
   text-decoration: none;
   color:white;
}
.card-btn:hover{
   cursor: pointer;
   background-color: #D864A9;
}

.card-image{
   max-width: 60%;;

}